/* Загрузка шрифтов */
@font-face {
    font-family: OpenSans;
    src:url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: OpenSans;
    src:url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

